:root {
    --bg-color: #DEE7E7;
    --text-color: #3F3F37;
    --secondary-bg-color: #EBE9E9;
    --text-color2: #EBF7FF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    position: relative;    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    padding: 2.6rem;
    font-size: 60px;
    color: linear-gradient(to right, #ECD583, #DEE7E7);
    font-weight: 900;
}

body {
    
    background: #4F5453;
    height: 100vh;
    width: 100vw;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

button {
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    transition: all .2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: none;
}

.input-box span {
    padding-left: 1.2rem;
    color: var(--text-color2);
    font-size: 20px;
}

input[type="color"] {
    /* -webkit-appearance: none; */
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    /* box-shadow: rgba(244, 243, 244, 0.24) 0px 3px 8px; */
    transition: all 0.3s;
} 

input[type="color"]:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.active {
    background-color: var(--text-color);
    color: white;
}

.size-value {
    text-align: center;
}

#slider {
    width: 100%;
}

input[type='range'] {
    background-color: var(--secondary-bg-color);
  }
  
input[type='range']::-webkit-slider-runnable-track {
    height:10px;
    border: 1px solid black;
    border-radius: 25px;
    background: var(--secondary-bg-color);
}
  
input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -4px;
    background: var(--text-color);
}  

.board {
    width: 600px;
    height: 600px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    color: var(--text-color);
}