:root {
    --bg-color: #DEE7E7;
    --text-color: #3F3F37;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    position: relative;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    padding: 2.6rem;
    font-size: 50px;
    color: var(--text-color);
    font-weight: 900;
}

body {
    background: var(--bg-color);
    height: 100vh;
    width: 100vw;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

button {
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    transition: all .2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons button:visited {
    background-color: var(--text-color);
    color: white;
}


.board {
    width: 600px;
    height: 600px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    color: var(--text-color);
}